!.vscodeignore
!extension.js
.vscode/
.mocharc.*
*.gsl
**/.gitignore
**/*.map
**/*.ts
**/tsconfig.json
**/tsconfig.tsbuildinfo
compile.txt
gsl/
gsl-language-server/src/*
gsl-language-server/node_modules/
node_modules/
out/
scripts/
snippets/*.js
test/